#main-container{
    margin:auto;
}

#main-nav-container {
    width:100%;
    margin:auto;
}

#main-nav-container>ul>li {
    display:inline;
}

@media(max-width: 768px) {

    #main-container {
        background-color:black;
    }
    #main-nav-container {
        background-color:#333;
    }

    #main-nav-container>ul>li {
        display:block;
    }
}